#!/usr/bin/env bash
# Sets up RedHat Subscription Manager and activates repos

{{ template "setup.tmpl" .}}
{{ if eq (.Param "redhat/subscription-skip-activation") true }}echo "Skipping RHSM setup."; exit 0{{ end }}

{{ if or (and (.ParamExists "redhat/subscription-username") (.ParamExists "redhat/subscription-password")) (and (.ParamExists "redhat/rhsm-organization") (.ParamExists "redhat/rhsm-activation-key")) }}
echo "Variable check for registrations passed."
{{else}}
echo "Missing username/password or org/key options"; exit 1
{{ end }}

function xiterr() { [[ $1 =~ ^[0-9]+$ ]] && { XIT=$1; shift; } || XIT=1; printf "FATAL: $*\n"; exit $XIT; }

(which subscription-manager > /dev/null 2>&1 ) || xiterr "Unable to locate 'subscription-manager' tool in PATH ($PATH)."

{{ range $key, $repos := .Param "redhat/subscription-repos" -}}
echo "Adding '{{ $repos }}' to the activated subscription manager repositories."
REPOS="$REPOS --enable={{ $repos }}"
{{ end -}}
[[ -n "$REPOS" ]] && DO_REPOS="subscription-manager repos $REPOS" || DO_REPOS=""


{{ if and (.ParamExists "redhat/subscription-username") (.ParamExists "redhat/subscription-password") }}
UN={{ .Param "redhat/subscription-username" }}
PW={{ .Param "redhat/subscription-password" }}
subscription-manager register --force --username="$UN" --password="$PW"
{{ else if and (.ParamExists "redhat/rhsm-organization") (.ParamExists "redhat/rhsm-activation-key") }}
ORG={{ .Param "redhat/rhsm-organization" }}
KEY={{ .Param "redhat/rhsm-activation-key" }}
subscription-manager register --force --org="$ORG" --activationkey="$KEY"
{{ end -}}

subscription-manager attach --auto
subscription-manager list

eval $DO_REPOS
yum -y makecache
{{ range $key, $gpgkey := .Param "redhat/subscription-gpg-keys" -}}
rpm --import {{ $gpgkey }}
{{ else -}}
echo "No GPG keys for import found. (Param: 'redhat/subscription-gpg-keys')."
{{ end -}}

exit 0